.page-title h2{
    color:#0077a9;
}

.social-icons a:hover{
    color:#0077a9;
    border: solid 1px #0077a9;
}

ul.top-menu li a:hover{
    color:#0077a9;
}

ul.top-menu li .selected{
    color:#0077a9;
}

.skill-list .progress{
    border: 1px solid #0077a9;
}

.skill-list .progress .percentage {
    background-color: #0077a9;
}

.services .service i{
    background: #0077a9;
}

.rounded-icon i{
    background:#0077a9;
}

.info-title::after {
    background: #0077a9;
}

.info-date{
    color: #0077a9;
}

.select-cat{
    color:#0077a9 !important;
}

.blog-post .post-info{
    color:#bdbdbd;
}

.but-big{
    background-color: #0077a9;
}

.social-icons a:hover{
    color:#0077a9;
    border: solid 1px #0077a9;
}

ul.top-menu li a:hover{
    color:#0077a9;
    transition:all ease 0.2s;
}

ul.top-menu li .selected{
    color:#0077a9;
}

.date a {
    color:#bfbfbf;
}

a.reply {
    color:#0077a9;
}

/*new colors*/


.widget-title{
    color:#0077a9;
}

.widget-blog .latest-post .tag{
    color:#0077a9;
}


.widget-submenu ul li a{
    color: #6a6a6a;
    font-size: 14px;
    line-height: 35px;
    cursor: pointer;
}


.tag a{
    color:#0077a9 !important;
    transition:all ease 0.2s;
}

.tag a:hover{
    color:#ffa60a !important;
}

ul.top-menu li.active{
    border-bottom: 3px solid #ffa60a;
}


.widget-submenu ul li a:hover {
    color: #ffa60a;
    transition:all ease 0.2s;
}

.widget-tags ul li a:hover {
    background: #ffa60a;
    transition:all ease 0.2s;
    color:#fff;
}

.widget-search form:hover {
    border: solid 1px #0077a9;
    transition:all ease 0.5s;
}

ul.top-menu li a:hover{
    color:#ffa60a;
}
ul.top-menu li:hover{
    border-bottom: 3px solid #ffa60a;
}


/* ------------------ Timeline --------------*/
.timeline-box .date {
    color: #ffa60a; }
.timeline-bar,
.timeline-box .dot,
.timeline-box-compact .date span {
    background-color: #0077a9; }
.timeline-box-compact .date span:before {
    border-left-color: #0077a9; }
.timeline-box-inner {
    border-color: #0077a9; }