<div class="responsive-menu hidden-md hidden-lg">MENU</div>
<ul class="top-menu">
    <li> <a class="selected page-scroll" href="#about"><i class="fa fa-user"></i><span>A PROPOS DE MOI</span></a></li>
    <li> <a class="page-scroll" href="#experiences-pro"><i class="fa fa-file-text-o"></i><span>PROFESSIONNEL</span></a></li>
    <li> <a class="page-scroll" href="#educations"><i class="fa fa-picture-o"></i><span>ECOLES</span></a></li>
    <li> <a class="page-scroll" href="#projets"><i class="fa fa-comments"></i><span>PROJETS</span></a></li>
    <li> <a class="page-scroll" href="#contact"><i class="fa fa-map-marker"></i><span>ME CONTACTER</span></a></li>
</ul>